/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

/* Container */
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

/* Card */
.card {
  display: flex;
  width: 100%;
  border-radius: 0.625rem;
  background-color: #F2EBE5 !important;
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

/* Left Side */
.leftSide {
  padding: 2rem;
  border-radius: 0.625rem 0 0 0.625rem;
}

.leftSide .inputField {
  margin-bottom: 1rem;
}

/* Right Side */
.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0 0.625rem 0.625rem 0;
}

.logoContainer {
  text-align: center;
}

.logo {
  width: 400px; /* Increase logo size here */
  height: auto;
}

.loginButton {
  text-transform: none;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

/* Media Queries */
@media screen and (max-width: 48rem) {
  .card {
    flex-direction: column;
  }

  .leftSide, .rightSide {
    width: 100%;
    padding: 1.5rem;
  }

  .rightSide {
    display: none; /* Hide right side on smaller screens if needed */
  }
}

@media screen and (max-width: 30rem) {
  .logo {
    width: 250px; /* Adjust logo size for smaller screens if needed */
  }
}
