/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

/* BulletinBox */
.bulletin-paper {
  height: 15.625rem; 
  width: 100%;
  max-width: 15.625rem;
  margin: 1rem 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; 
  border-radius: 0;
}

.bulletin-date {
  align-self: flex-end;
}

.bulletin-info {
  font-weight: bold;
}

.bulletin-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Media Queries for Responsive Design */

/* Small devices (phones, 600px and down) */
@media screen and (max-width: 37.5rem) { /* 600px */
  .container {
    padding: 0.625rem; /* 10px */
  }

  .bulletin-paper {
    height: auto;
    padding: 0.625rem; /* 10px */
  }

  .bulletin-date {
    font-size: 0.8rem;
  }

  .bulletin-info {
    font-size: 1rem;
  }

  .bulletin-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .bulletin-footer .MuiTypography-root {
    margin-bottom: 0.5rem; /* 8px */
  }
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 48rem) { /* 768px */
  .container {
    padding: 0.9375rem; /* 15px */
  }

  .bulletin-paper {
    height: auto;
    padding: 0.875rem; /* 14px */
  }

  .bulletin-date {
    font-size: 0.9rem;
  }

  .bulletin-info {
    font-size: 1.1rem;
  }

  .bulletin-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .bulletin-footer .MuiTypography-root {
    margin-bottom: 0;
  }
}

/* Additional Media Queries */
@media screen and (max-width: 30rem) { /* 480px */
  .container {
    padding: 0.625rem; /* 10px */
  }

  .bulletin-paper {
    height: auto;
    padding: 0.625rem; /* 10px */
  }

  .bulletin-date {
    font-size: 0.8rem;
  }

  .bulletin-info {
    font-size: 1rem;
  }

  .bulletin-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .bulletin-footer .MuiTypography-root {
    margin-bottom: 0.5rem; /* 8px */
  }
}

/* Very small devices (20rem and down) */
@media screen and (max-width: 20rem) { /* 320px */
  .container {
    padding: 0.3125rem; /* 5px */
  }

  .bulletin-paper {
    height: auto;
    padding: 0.3125rem; /* 5px */
  }

  .bulletin-date {
    font-size: 0.7rem;
  }

  .bulletin-info {
    font-size: 0.9rem;
  }

  .bulletin-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .bulletin-footer .MuiTypography-root {
    margin-bottom: 0.375rem; /* 6px */
  }
}
