/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

/* Container */
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

/* Card */
.card {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background: linear-gradient(135deg, #FFF2D7, #f7e2b3);
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h1{
  text-align: center;
  color: #333333;
  margin-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card h1::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #f8c794;
  border-radius: 2px;
}

/* Input Fields */
.inputField {
  margin-bottom: 1.5rem;
  width: 100%;
}

.inputField .MuiInputLabel-root {
  color: #666666;
}

.inputField .MuiOutlinedInput-root {
  border-radius: 5px;
  background-color: #ffffff;
}

.inputField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #f8c794;
}

.inputField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f8c794;
  border-width: 2px;
}

/* File Input */
.fileInput {
  display: none;
}

.fileInputLabel {
  margin-bottom: 1rem;
}

.fileInputLabel .MuiButton-root {
  background-color: #f8c794;
  color: black;
  font-weight: 500;
  text-transform: none;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 2rem;
  cursor: pointer;
}

.fileInputLabel .MuiButton-root:hover {
  background-color: #d8ae7e;
}

/* Error Text */
.errorText {
  padding: 10px;
  color: #ff4d4d;
  font-size: 0.9rem;
}

/* Button */
.submitButton {
  text-transform: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px */
  .cardContainer {
    height: auto;
    padding: 2rem 0;
  }

  .card {
    max-width: 90%;
    padding: 1.5rem;
  }

  .card h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens with a maximum width of 480px */
  .cardContainer {
    padding: 1rem 0;
  }

  .card {
    padding: 1rem;
  }

  .card h1 {
    font-size: 2rem;
  }

  .inputField {
    margin-bottom: 1rem;
  }

  .inputField .MuiOutlinedInput-root {
    font-size: 0.9rem;
  }

  .fileInputLabel .MuiButton-root {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
  }

  .errorText {
    font-size: 0.8rem;
  }

  .submitButton {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
  }
}